/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

    /*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 .papercut-style--reset
 *:where(:not(html, iframe, canvas, img, svg, video):not(svg
         *, symbol *)) {
all: unset;
display: revert;
}
å
/* Preferred box-sizing value */
.papercut-style--reset *, .papercut-style--reset
 *::before, .papercut-style--reset *::after {
box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
.papercut-style--reset a, .papercut-style--reset button {
cursor: revert;
}

/* Remove list styles (bullets/numbers) */
.papercut-style--reset ol, .papercut-style--reset ul, .papercut-style--reset
 menu {
list-style: none;
}

/* For images to not be able to exceed their container */
.papercut-style--reset img {
max-width: 100%;
}

/* removes spacing between cells in tables */
.papercut-style--reset table {
border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
.papercut-style--reset input, .papercut-style--reset textarea {
-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
.papercut-style--reset textarea {
white-space: revert;
}

/* minimum style to allow to style meter element */
.papercut-style--reset meter {
-webkit-appearance: revert;
appearance: revert;
}

/* reset default text opacity of input placeholder */
.papercut-style--reset ::placeholder {
color: unset;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
.papercut-style--reset :where([hidden]) {
display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
.papercut-style--reset
 :where([contenteditable]:not([contenteditable="false"])) {
-moz-user-modify: read-write;
-webkit-user-modify: read-write;
overflow-wrap: break-word;
-webkit-line-break: after-white-space;
-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
.papercut-style--reset :where([draggable="true"]) {
-webkit-user-drag: element;
}

/* Pagefind specific — use the default mark styling */
.papercut-style--reset mark {
all: revert;
}

// Reset styles for breadcrumbs
.papercut-style--reset .c-breadcrumbs {
    grid-template-columns: unset;
}

.papercut-style--reset .c-breadcrumbs ul {
    padding-left: 0px;
}

.papercut-style--reset .c-breadcrumbs ul li {
    margin-top: 0px;
    line-height: 100%;
}

.papercut-style--reset .c-breadcrumbs a, .papercut-style--reset .c-breadcrumbs a:visited  {
    color: #3B3B3D;
}

.papercut-style--reset .c-breadcrumbs ul li a:hover {
    color: #2b5e8f;
}

.papercut-style--reset .c-breadcrumbs li:last-of-type a {
    color: #2b5e8f;
}