.c-left-right-quote-block {
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 96px 0px;


    // @media screen and (min-width: 768px) and (max-width: 1279px){
    //     padding: 96px 86px;
    // }
    

    &__body{
        display: flex;
        flex-direction: column;
        gap: 16px;
        &--right{

            grid-column: 2 / 8;
            margin-bottom: 48px;
            
            @media screen and (min-width: 479px){
                grid-column: 2 / 8;
                padding-right: 50px;

            }
            @media screen and (max-width: 768px){
                grid-column: 2 / 14;
                padding-right: 0px;

            }
            @media screen and (max-width: 478px){
                grid-column: 2 / 14;
                padding-right: 0px;

            }
            @media screen and (min-width: 1279px){
                grid-column: 2 / 8;
                padding-right: 50px;
                margin-bottom: 0;
            }
           
        }
        &--left{
            grid-column: 8 / 14; 
            
            @media screen and (min-width: 479px){
                grid-column: 8 / 14;        
                padding-left: 50px;

            }
            @media screen and (max-width: 768px){
                grid-column: 2 / 14;
                padding-left: 0px;

            }
            @media screen and (max-width: 478px){
                grid-column: 2 / 14;
                padding-left: 0px;

            }
            @media screen and (min-width: 1279px){
                grid-column: 8 / 14;        
                padding-left: 50px;
            }

          

        }

        &--title {
            color: var(--text-green-700);
            font-family: var(--font-sans-body);
            font-weight: var(--font-bold);
            font-size: var(--text-base);
            line-height: var(--leading-base);
            text-decoration: none;
            letter-spacing: 2px;
            margin: 0;
            text-transform: uppercase;

            @media screen and (max-width: 768px){
                padding-top: 16px;
            }

        }
        p{
            font-size: 16px;
            line-height: 24px;
            color: var(--text-stone);
            font-family: var(--font-sans-body);
            font-weight: var(--font-normal);
 
            
        }
    }

    &__quote{

        &--right{
            grid-column: 8 / 14;
            

            @media screen and (min-width: 479px){
                grid-column: 8 / 14;
                padding-left: 50px;

            }
            @media screen and (max-width: 478px){
                grid-column: 2 / 14;
                padding-left: 0px;

            }
            @media screen and (max-width: 768px){
                grid-column: 2 / 14;
                padding-left: 0px;

            }
            @media screen and (min-width: 1279px){
                grid-column: 8 / 14;
                padding-left: 50px;

            }
           
        }

        &--left{
            grid-column: 2 / 8;

            @media screen and (min-width: 479px){
                grid-column: 2 / 8;
                padding-right: 50px;

            }
            @media screen and (max-width: 478px){
                grid-column: 2 / 14;
                padding-right: 0px;

            }
            @media screen and (max-width: 768px){
                grid-column: 2 / 14;
                padding-right: 0px;

            }
            @media screen and (min-width: 1279px){
                grid-column: 2 / 8;
                padding-right: 50px;

            }

        }
        &__quoteBody{
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-top: 16px;
            padding-bottom: 16px;
            border-top: 3px solid #A1DAA6;
            border-bottom: 3px solid #A1DAA6;
    
            h3{
                font-weight: 700;
                font-size: 28px;
                font-family: Barlow,Verdana,sans-serif;
                line-height: 35px; 
            }
            p{
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: var(--text-stone);
                font-family: var(--font-sans-body);
            }
        }
    }
}
