.c-left-right-block {
    grid-template-columns: var(--twelve-column-grid);
    display: grid;
    padding: 96px 0px;

    &__left{
        grid-column: 2 / 8;
        padding-right: 15px;  
        max-width: fit-content;
    }
    &__right{
        grid-column: 8 / 14;
        padding-left: 64px;
        padding-right: 96px;

        @media screen and (min-width: 766px) and (max-width: 1079px){
            padding: 0px 46px;
        }
    }

    &__left, &__right {
        @media screen and (max-width: 768px){
            grid-column: 2 / 14;
            margin: 0 auto;
            padding: 0;
            img{
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

    &__title {
        font-family: var(--font-sans-body);
        font-weight: var(--font-bold);
        font-size: var(--text-base);
        color: var(--text-green-700);
        letter-spacing: 2px;
        margin-bottom: 16px;
        text-transform: uppercase;
        line-height: 24px;
        text-decoration: none;
        line-height: var(--leading-base);
       
    }

    &__heading{
        margin: 0;
        font-family: var(--font-sans-heading);
        font-weight: var(--font-semibold);
        font-size: var(--text-4xl);
        color: var(--text-zinc);
        line-height: 40px;
        padding: 0;

    }



    &__left__description, &__right__description{
        p {
        font-family: var(--font-sans-body);
        font-weight: 400;
        font-size: var(--text-base);
        line-height: var(--leading-base);
        color: var(--bg-zinc);
        margin-block-start: 1em;
        margin-block-end: 1em;
        max-width: 474px;
        }
    }

}